header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .banner {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 85%;
    padding-bottom: 30px;
    text-align: center;
  }
  .banner-text {
    h1 {
      font-family: "Roboto Slab", serif;
      font-size: 4.75rem;
      line-height: 4.75rem;
      letter-spacing: -2px;
      margin-bottom: 3rem;
      color: $dk-red-orange;
      letter-spacing: -2px;
      margin: 0 auto;
    }
    h2 {
      text-transform: uppercase;
      font-size: 2rem;
      color: #fff;
      font-weight: bold;
      letter-spacing: 4px;
      margin-bottom: 3rem;
    }
    p {
      padding-top: 3rem;
      font-size: 1.5rem;
      line-height: 1.5;
      color: #ddd;
      margin: 0 auto;
      width: 70%;
      max-width: 840px;
    }
    .cta {
      margin: 24px 0;
      padding: 0;
      a {
        color: $black;
        font-size: 2rem;
        font-weight: bold;
        padding-left: 30px;
        padding-right: 30px;
        background-color: $dk-red-orange;
        font-size: 1.25rem;
        border-radius: 6px;
      }
    }
  }
  .scroll-down a {
    position: absolute;
    background-color: $dk-red-orange;
    bottom: 30px;
    left: calc(50% - 21px);
    color: #ffffffee;
    display: block;
    height: 42px;
    width: 42px;
    font-size: 62px;
    line-height: 22px;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
  }
  .scroll-down a:hover {
    background-color: rgb(254, 105, 40);
  }
  .icon-down-circle:before {
    content: "^";
    display: block;
    transform: rotate(180deg);
    font-style: normal;
    text-align: center;
    color: $black;
  }
  .image-container img {
    display: none;
    @media screen and (min-width: $large) {
      display: inline-block;
      width: 240px;
      height: 240px;
      border: 3px solid $yellow;
      margin: 1rem;
      object-fit: cover;
      object-position: right top;
      border-radius: 50%;
    }
  }
}
