nav ul,
nav li,
nav a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* nav-wrap */
nav {
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}

nav > a {
  width: 48px;
  height: 48px;
  // text-align: left;
  background-color: $dk-red-orange;
  position: relative;
  border: none;
  float: right;
  color: transparent;
  position: relative;
  top: 0px;
  right: 30px;
}
nav > a:before,
nav > a:after {
  position: absolute;
  border: 2px solid #fff;
  top: 35%;
  left: 25%;
  right: 25%;
  content: "";
}
nav > a:after {
  top: 60%;
}

nav a.close:before {
  top: 50%;
  transform: rotate(45deg);
}

nav a.close:after {
  top: 50%;
  transform: rotate(-45deg);
}

.opaque {
  background-color: #333;
}

/* hide toggle button */
nav > a.mobile-btn {
  display: none;
}

nav ul {
  min-height: 48px;
  width: auto;
  /* center align the menu */
  text-align: center;
  background: #11111199;
}
nav ul li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}

/* Links */
nav ul li a {
  /* 8px padding top + 8px padding bottom + 32px line-height = 48px */
  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  color: #fff;
  transition: color 0.2s ease-in-out;
}

// ul li a:active {
//   background-color: transparent !important;
// }

nav ul li.current a {
  // color: $dk-red-orange;
}

nav ul li a:hover {
  color: $dk-red-orange;
}

nav ul li a:visited {
  color: #fff;
}
