.quote {
  blockquote {
    font-size: 1.2rem;
    color: white;
    margin-top: 0;
    margin: 30px 0px;
    padding-left: 40px;
    position: relative;
    &:before {
      content: "\201C";
      color: white;
      font-size: 80px;
      line-height: 0px;
      margin: 0;
      font-family: arial, sans-serif;
      position: absolute;
      top: 30px;
      left: 0;
    }
    .title {
      display: inline-block;
      padding-right: 0.5rem;
    }
  }
}

blockquote cite {
  display: block;
  margin-top: 0.5rem;
  text-align: right;
}
blockquote cite:before {
  content: "\2014 \0020";
}
